# /etc/systemd/system/BikeCon-bike.service
[Unit]
Description=BikeCon Bike Bluetooth Driver
Requires=BikeCon-mixer.service
After=BikeCon-mixer.service bluetooth.target

[Service]
Type=simple
User=root
Environment="BIKEYCON_HOME=/opt/BikeCon"
Environment="BIKEYCON_CONFIG=/etc/BikeCon"
WorkingDirectory=$BIKEYCON_HOME
ExecStart=$BIKEYCON_HOME/c2lite/bin/python3 bike_service.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
KillSignal=SIGTERM
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
