# /etc/systemd/system/BikeCon-hardware.service
[Unit]
Description=Initialize BikeCon USB Gadget Hardware
DefaultDependencies=no
After=local-fs.target configfs.target
Requires=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/bin/usb_gamepad.sh
RemainAfterExit=yes
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
