# /etc/systemd/system/c2lite-mixer.service
[Unit]
Description=C2Lite HID Mixer Service
Requires=c2lite-hardware.service
After=c2lite-hardware.service network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/zhou/c2lite_controller
ExecStartPre=/usr/bin/test -e /dev/hidg0
ExecStart=/home/zhou/c2lite_controller/c2lite/bin/python3 mixer.py
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target